<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define Book Bean -->
    <bean id="book" class="com.library.Book">
        <property name="title" value="Effective Java"/>
    </bean>

    <!-- Define Library Bean with dependency -->
    <bean id="library" class="com.library.Library">
        <property name="book" ref="book"/>
    </bean>

</beans>
